.container {
    display: grid;
    grid-template-columns: 240px 9fr;
    min-height: 100vh;
}

.text {
    margin-bottom: 5rem;
}

.heading {
    padding: 3rem 0 0 5rem;
    font-size: 3.125rem;
}

.explanation {
    padding-left: 5rem;
    font-size: 1.2rem;
}

.basicInfo {
    width: 50%;
    height: 450px;
    margin-left: 5rem;
}

.basicInfo label:nth-child(1), .basicInfo label:nth-child(2), .basicInfo label:nth-child(4), .basicInfo label:nth-child(5) {
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 50px;
}

.basicInfo label:nth-child(3) {
    display: block;
    margin-bottom: 50px;
}

.basicInfo label:nth-child(3) input {
    width: 50%;
}

.basicInfo label:nth-child(4), .basicInfo label:nth-child(5) {
    margin-top: 50px;
}

.basicInfo label:nth-child(4) select, .basicInfo label:nth-child(5) select {
    display: block;
    margin: 10px 0 0;
    border-width: 2px;
    padding: 10px;
    background-color: transparent;
    color: #ff5a5f;
}

.basicInfo label input {
    color: #ff5a5f;
    font-style: italic;
}