.mainCharInfo {
    padding: 0 10% 50px;
}

.mainHeading {
    margin: 20px 0 20px;
    text-align: start;
    font-size: 1.2rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.nameArea {
    width: 60%;
    height: 80px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.charMainInfoBlock1 {
    margin-bottom: 40px;
}

.classBackgroundPlayer, .raceAlignmentXP {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.classBackgroundPlayer p, .raceAlignmentXP p {
    margin: 0;
}

.divider {
    height: 1px;
    border: none;
    background-color: #5B7C99;
}
