/*.backdrop {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    background-color: rgba(0, 0, 0, 0.9);*/
/*    z-index: 1;*/
/*}*/

.container {
    position: absolute;
    width: 80%;
    left: 10%;
    padding: 50px;
    z-index: 1;
    border-radius: 10px;
    color: #686D76;
}

.modal {
    margin: 0;
    border: none;
    border-radius: 6px;
    padding: 0;
    overflow: hidden;
}

.heading {
    margin-bottom: 3.125rem;
    text-transform: capitalize;
}

.mainInfo {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 3.125rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid label {
    width: 50%;
    margin: 0 auto;
    display: block;
}
