.container {
    /*margin-bottom: 20px;*/
    /*padding: 20px;*/
    border-radius: 10px;
    font-size: 0.9rem;
    background-color: #eee5e9;
    color: #000;
}

.name {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    color: #cf4d6f;
}