.newChar {
    padding: 5px 10px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #d31027, #ea384d);
    color: #fff;
}