.abilities {
    display: flex;
    flex-direction: column;
}

.title {
    margin-bottom: 10px;
}

.abilities label {
    margin-bottom: 10px;
}

.abilities label input {
    display: inline-block;
    margin-left: 20px;
    margin-right: 10px;
}