.header {
    height: 80px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.header menu {
    margin: 0;
    padding: 0;
}

.header menu li {
    display: inline-block;
    margin: 0 30px;
}