@font-face {
    src: url('/public/fonts/canterbury-regular.woff2') format('woff2');
    font-family: "Canterbury Regular";
}

#character-generator {
    height: 100vh;
    font-weight: 400;
    font-style: normal;
}

.text {
    margin-bottom: 5rem;
    text-align: center;
}

.heading {
    font-size: 3.125rem;
    font-family: "Canterbury Regular", cursive;
}

.explanation {
    font-size: 1rem;
}