@import "reset.css";
@import "dnd-character-generator.css";

body {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    color: #fff;
}

header {
    text-align: center;
}

h1 {
    padding-top: 20px;
    font-size: 2rem;
    font-family: "Canterbury Regular", cursive;
    letter-spacing: 7px;
    color: transparent;
    background: linear-gradient(to right, #89216B, #DA4453);
    background-clip: text;
}

header > p:first-of-type {
    font-size: .8rem;
}

header > p:last-of-type {
    margin-bottom: 50px;
    font-size: 3.5rem;
    font-family: "Canterbury Regular", cursive;
    color: transparent;
    background: linear-gradient(to right, #89216B, #DA4453);
    background-clip: text;
}

fieldset {
    border: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


