.header {
    display: flex;
    height: 80px;
    position: relative;
    background-color: #000;
}

.logInSignUp {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}