.container {
    padding: 20px;
    border-radius: 10px;
    background-color: #eee5e9;
    color: #000;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
    color: #cf4d6f;
}