.container {

}

.AmorInitiativeSpeed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    flex-grow: 1;
    font-size: 12px;
}

.points {
    flex-grow: 1;
}

.HitDiceDeathSave {
    display: grid;
    margin-bottom: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    flex-grow: 1;
    font-size: 12px;
}